@font-face {
    font-family: '1';
    src: url('/fontes/1/Darkcastle_PERSONAL_USE_ONLY.otf');
    font-weight: normal;
      
    font-style: normal;
}

@font-face {
    font-family: '2';
    src: url('/fontes/2/Perfectly\ Vintages\ Font\ by\ Keithzo.otf');
    font-weight: normal;
      
    font-style: normal;
}
  
@keyframes primeira {
    0% {color: #4e1212;}
    50% {color: #fff;}
    100% {color: #4e1212;}
}

@font-face {
    font-family: '3';
    src: url('/fontes/3/Comfortaa-Regular.ttf');
    font-weight: normal;
      
    font-style: normal;
}

@font-face {
    font-family: '4';
    src: url('/fontes/4/Kingthings\ Trypewriter\ 2.ttf');
    font-weight: normal;
      
    font-style: normal;
}

@keyframes segunda {
    0% {color: #000;}
    50% {color: #5a4d03;}
    100% {color: #000;}
}
