body {
    background-image: url(/img/fundo.jpg);
    margin: 2.5%;

}

h1 {
    display: flex;
    margin: 5%;
    margin-top: 5px;
    justify-content: center;
    font-size: 40px;
    -webkit-text-stroke: 1.5px #4e1212;
    font-family: '1';
    letter-spacing: 5px;
    color: #120225;
    background-color: #c0aadd;
    border-radius: 25px;
    border: #120225, solid, 2px;
    padding: 5px;
    text-align: center;
}

#paragrafo {
  transition: all 0.3s ease;
}

.botao1 {
    background-color: #4e1212;
    color: #c0aadd;
    padding: 10px;
    border-radius: 8px;
    justify-content: center;
    width: 100%;
    display: inline-block;
    font-family: "2";
    letter-spacing: 1.5px;
    transition: 5ms ease;
    font-size: 25px;
}

.botao1:hover {
    color: #120225;
    scale: 1.1;
}

p{
    color: #e7def3;
    background: linear-gradient(to top, #210d3a, #512da4,#210d3a);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "3";
    padding: 8px;
    border-radius: 15px;
    border: #120225, solid, 2px;
    letter-spacing: 2px;
    font-size: 18px;
}

.botao {
    background-color: #4e1212;
    color: #c0aadd;
    padding: 5px;
    border-radius: 45px;
    justify-content: center;
    margin-bottom: 2px;
    display: inline-block;
    font-family: "2";
    letter-spacing: 1.5px;
    transition: 5ms ease;
}

.botao:hover {
    color: #120225;
    scale: 1.1;
}

.botao:active {
    scale: 0.9;
    background-color: #120225;
}

p2 {
    font-size: 20px;
    animation: primeira 5s infinite;
}

p3 {
    font-size: 20px;
    animation: primeira 5s infinite;
}

a {
    text-decoration: none;
}

b {
    font-size: 18px;
    -webkit-text-stroke: 0.2px #e8dff3;
    color: #503474;
}

i {
    color: #4e1212;
    font-size: 12px;
}

