body {
    margin: 5px;
    background-image: url(/img/OIP.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: "1";
    letter-spacing: 5px;
    color: #7d472b;
    -webkit-text-stroke: 1px #4d2a0f;
}

hr {
  border: none;
  height: 2px;
  background-color: #7e5138;
  margin: 30px 0;

}

.colunaE {
  width: 40%;
  float: left;
  margin: 2px;
  background-image: url(/img/OIP.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  padding: 15px;
  border-radius: 15px;
  border: #4d2a0f, solid, 2px;
  font-family: "4";
}

.colunaD {
  width: 40%;
  float: right;
  margin: 2px;
  background-image: url(/img/OIP.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 15px;
  border-radius: 15px;
  border: #4d2a0f, solid, 2px;
  font-family: "4";
}

img {
    width: 100%;
    right: 50%;
}

footer {
    text-align: center;
    
}